body{
background-color: #333333;
	color:#ffffff;
}
aside {
background-color: #555555;
}
footer {
background-color: #444444;
}
.app{
background-color: #555555;
}
.text{
	color:#ffffff;
}
.feature{
	background-color: #444444;
	color:#ffffff;
}
.feature:hover{
	background-color: #666666;
	color:#ffffff;
}
#contact_developer a,#contact_links a{
	color:#ffffff;
}



